{% assign locale = include.locale | default: site.locale %}
{% if locale contains 'fr' %}
  {% assign nav = site.data.navigation.main_fr %}
  {% assign cta = site.data.navigation.cta.fr %}
  {% assign home = '/fr/' %}
{% else %}
  {% assign nav = site.data.navigation.main %}
  {% assign cta = site.data.navigation.cta.en %}
  {% assign home = '/' %}
{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav" aria-label="Primary navigation">
        <a class="site-title" href="{{ home | relative_url }}">{{ site.title | escape_once | strip }}</a>
        <ul class="visible-links">
          {%- for link in nav -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        <a class="btn btn--primary masthead__cta" href="{{ cta.url }}">{{ cta.title }}</a>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
